body {
    width: 98%;
    margin: 1em auto;
    font-size: 16px;
}

@media (min-width: 1000px) {
    body {
        width: 80%;
        margin: 1em auto;
    }
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}

.table-wrapper td {
    padding: 10px;
}

.App > div {
    margin: 1em;
    padding: 2em;
}

button {
    margin: 1em 0 !important;
}

button svg {
    margin-right: 0.5em;
}
