body {
    width: 98%;
    margin: 1em auto;
    font-size: 16px;
    background: linear-gradient(to right, #fe8c00, #f83600);
}

@media (min-width: 1000px) {
    body {
        width: 80%;
        margin: 1em auto;
    }
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}

.table-wrapper td {
    padding: 10px;
    border-bottom: 1px red solid;
}

.App > div {
    margin: 1em;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.7);
}

button {
    margin: 1em 0 !important;
}

button svg {
    margin-right: 0.5em;
}

.favicon {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 3em;
}

@media (min-width: 1000px) {
    .favicon {
        width: 160px;
        height: 160px;
    }
}
